<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>КНБ</title>
    {% load static %}
    <script src="{% static 'mygame/jquery.js' %}"></script>
    <script src="{% static 'mygame/rango-ajax.js' %}"></script>
    <script src="{% static 'mygame/login.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="{% static 'mygame/style.css' %}">-->
</head>
<body>
    <div id="dialog" title="Authentication">
        {%csrf_token%}
        <div class="container">
            <div class="main">
                <form id="form_id" method="post" name="myform" action="javascript:validate()">
                    <label>Username:</label>
                    <input type="text" name="username" id="username"/>
                    <label>Password:</label>
                    <input type="password" name="password" id="password"/>
                    <input type="button" value="Login" id="submit"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>